body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 1500px;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}


#inscreva-se-btn:hover{
    color: white;
    background-color: rgb(132, 14, 201);
    
}

h1 {
    padding-left: 50px;
    font-weight: 200px;
}

main {
    display: flex;
    flex-direction: row;
    margin: 50px;
    line-height: 10px;
}

h2 {
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
}

span {
    color: rgb(132, 14, 250);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    padding-left: 100px;
    width: 550px;
    height: 450px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

footer{   
    padding: 40px 0px;
}

.centralizar{
    text-align: center;
    padding-left: 500px;
}

.Direitos{
    color: white;
    font-size: 13px;
    margin: 20px 0 0 ;
}
